<html>

<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>

   <body>
      <h1> Hi {{ sender_name }}! This is your Message Board. Welcome. </h1>
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Trulli" width="100" height="66">
   </body>
   <body>
      <h2> Messages (incoming + outgoing, sorted by date) </h2>

      <table>
      <tr>
         <th>Date (Y_M_D_h_m_s) </th>
         <th>Sent/Recieved </th>
         <th>Name</th>
         <th>Language</th>
         <th>Message Type</th>
         <th>Original Message</th>
         <th>Translated Message</th>
      </tr>
      {% for date_str, prefix, other_name, other_language, message_type, orig_message, trans_message in messages %}
      <tr>
         <td> {{ date_str }} </td>
         <td> {{ prefix }} </td>
         <td> {{ other_name }} </td>
         <td> {{ other_language }} </td>
         <td> {{ message_type }} </td>
         {% if message_type == 'text' %}
            <td>{{ orig_message }}</td>
         {% else %}
            {% if message_type == 'audio' %}
               <td>
                <video controls width="250">
                    <source src="{{ url_for('static', filename=orig_message) }}"
                            type="video/webm">
                    Sorry, your browser doesn't support embedded videos.
                </video>
               </td>
            {% else %}
               <td>
               <video controls width="250">
                    <source src="{{ url_for('static', filename=orig_message) }}"
                            type="video/webm">
                    Sorry, your browser doesn't support embedded videos.
                </video>
            </td>
            {% endif %}
         {% endif %}

         {% if message_type == 'text' %}
            <td>{{ trans_message }}</td>
         {% else %}
            {% if message_type == 'audio' %}
               <p>
               <td>
               <video controls width="250">
                    <source src="{{ url_for('static', filename=trans_message) }}"
                            type="video/webm">
                    Sorry, your browser doesn't support embedded videos.
                </video>
               </td>
               </p>
            {% else %}
               <td>
               <video controls width="250">
                    <source src="{{ url_for('static', filename=trans_message) }}"
                            type="video/webm">
                    Sorry, your browser doesn't support embedded videos.
                </video>
            </td>
            {% endif %}
         {% endif %}
      </tr>
      {% endfor %}
   </table>
   </body>
</html>