

<!DOCTYPE html>
<html lang="en">

<head>
    <title>RecordRTC Audio+Video Recording & Uploading to PHP Server</title>

<div ng-controller="logoutController">
  <a ng-click='logout()' class="btn btn-default">Logout</a>
</div>

<h1> Welcome to the Multilingual Network </h1>

<p></p>

<a href="http://localhost:5000/#/login">log-in</a>

<p></p>

<a href="http://localhost:5000/#/register">register</a>

<p></p>

<form action="http://localhost:5000/pre_upload">
    <input type="submit" value="Create a New Message" />
</form>


<p></p>
<p></p>
<p></p>

<form action="http://localhost:5000/user_redirect">
    <input type="submit" value="Messages" />
</form>

</html>
